.itemTitleLink {
    color: inherit;
}

.itemTitleLink:hover {
    color: inherit;
}

.itemTitleLink:visited {
    color: inherit;
}

#editItem {
    display: none;
}

#shelfLifeExample {
    width: 100px;
    height: auto;
}