body {
  background-image: url(../img/make-up5.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Cinzel', serif;
}

.navbar {
  display: block;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  /*border: 1px solid grey;*/
  margin-left: -15px;
  margin-right: -15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-container {
  margin-top: 54px;
  margin-left: -15px;
  margin-right: -15px;
  background-image: url(../img/logobg2.jpg);
  color: white;
  text-shadow: 2px 2px black;
  padding: 25px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);

}

.header-picture {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 25px;
  margin: -25px;
}

.header-container img {
  border-radius: 100%;
  width: 20%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
}

p {
  padding: 20px;
}

h2 {
  margin-bottom: 0px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.about-container {
  border: 1px white solid;
  margin-left: -15px;
  margin-right: -15px;
  background-color: white;
  overflow: auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.about-container h2 {
  padding: 30px;
  padding-bottom: 15px;
  width: 80%;
  font-weight: 400;
}

.features-header {
  margin-left: -15px;
  margin-right: -15px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 2px 2px black;
  padding: 50px;
}

.features-container {
  border: 1px white solid;
  margin-left: -15px;
  margin-right: -15px;
  background-color: white;
  overflow: auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.contact-header {
  margin-left: -15px;
  margin-right: -15px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 2px 2px black;
  padding: 50px;
}

.contact-container {
  border: 1px white solid;
  margin-left: -15px;
  margin-right: -15px;
  background-color: white;
  padding: 20px;
  overflow: auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.contact-container img {
  float: right;
  width: 40%;
  border-radius: 15px;
  margin: 3%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
}

.hiw-header {
  margin-left: -15px;
  margin-right: -15px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 2px 2px black;
  padding: 50px;
}

.hiw-container {
  text-align: left;
  border: 1px white solid;
  margin-left: -15px;
  margin-right: -15px;
  background-color: white;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  overflow: auto;
}

.hiw-container ul {
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact-container .form-control {
  width: 50%;
}

#contactMessage {
  height: 200px;
  margin-bottom: 20px;
}

#contact-button {
  width: 20%;
}

label{
  padding-top: 20px;
}

.footer {
  bottom: 0;
  /*border: 1px solid grey;*/
  margin-left: -15px;
  margin-right: -15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer p {
  margin-right: 0px;
  margin-bottom: 0px;
  color: white;
  padding-right: 0px;
}

.about-container img {
  width: 18%;
  margin: 25px;
  float: left;
  border-radius: 25%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
}

.features-container img {
  width: 35%;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  float: right;
  border-radius: 25%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
}

.features-container p {
  margin: 5px;
  padding: 10px;
}

#private {
  display:none;
}

#HIWIndicators {
  /* height: 50%; */
  width: 50%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-top: 15px;
}

.carousel-item img {
  width: auto;
  height: 280px;
  max-height: 280px;
}

.carousel-item p {
  font-size: 20px;
  color: black;
  font-weight: bold;
  bottom: 0;
  /* text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; */
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#861d41' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#861d41' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
