body {
  background-image: url(../img/make-up5.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /*border: 1px solid grey;*/
  margin-left: -15px;
  margin-right: -15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-container {
  margin-top: 54px;
  margin-left: -15px;
  margin-right: -15px;
  background-image: url(../img/logobg2.jpg);
  color: white;
  text-shadow: 2px 2px black;
  padding: 25px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.header-picture {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 25px;
  margin: -25px;
}

.header-container img {
  border-radius: 100%;
  width: 20%;
}

p {
  padding: 20px;
}

h2 {
  margin-bottom: 0px;
  text-align: center;
  font-size: 35px;
}

.about-container {
  border: 1px white solid;
  margin-left: -15px;
  margin-right: -15px;
  background-color: white;
}

.about-container h2 {
  padding: 30px;
  padding-bottom: 15px;
}

.features-header {
  margin-left: -15px;
  margin-right: -15px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 2px 2px black;
  padding: 50px;
}

.features-container {
  border: 1px white solid;
  margin-left: -15px;
  margin-right: -15px;
  background-color: white;
}

.contact-header {
  margin-left: -15px;
  margin-right: -15px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 2px 2px black;
  padding: 50px;
}

.contact-container {
  border: 1px white solid;
  margin-left: -15px;
  margin-right: -15px;
  background-color: white;
  padding: 20px;
}

.hiw-header {
  margin-left: -15px;
  margin-right: -15px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 2px 2px black;
  padding: 50px;
}

.hiw-container {
  border: 1px white solid;
  margin-left: -15px;
  margin-right: -15px;
  background-color: white;
}

.contact-container .form-control {
  width: 50%;
}

#message-block {
  height: 200px;
  margin-bottom: 20px;
}

#contact-button {
  width: 20%;
}

label{
  padding-top: 20px;
}

.footer {
  bottom: 0;
  /*border: 1px solid grey;*/
  margin-left: -15px;
  margin-right: -15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer p {
  margin-right: 0px;
  margin-bottom: 0px;
  color: white;
  padding-right: 0px;
}
